.gianttitle
	line-height 200px
	font-size 200px

.profile
	background-color none !important
	border black
	border-style solid
	border-width 5px

.center
	text-align center

.moretopics
	list-style-type none

#moreinfo
	opacity 1 // er moet hier iets staan, of stylus doet moeilijk