.gianttitle
	line-height 200px
	font-size 200px

.profile
	background-color none !important
	border black
	border-style solid
	border-width 5px

.center
	text-align center

.moretopics
	list-style-type none

#moreinfo
	background-color none


.profileimage
	width 160px
	height 160px
	border-radius 80px
	display inline-block
	background-size cover
	background-color #efefef
	background-position center

.description
	height 94px

.location
	height 40px

.description, .location
	overflow scroll
	-webkit-overflow-scrolling touch

.topicfrequency, .tweets
	text-align left
	font-size 11px
	line-height 20px

.tweets
	overflow scroll
	-webkit-overflow-scrolling touch
	padding-left 23px
	border 1px solid #808080
	border-radius 9px
	height 62px
	margin-top 7px

.topics
	overflow scroll
	-webkit-overflow-scrolling touch
	height 88px


