lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
.DS_Store
*.css
!**/dist/**/*.css
!**/expertextractor/**/*.css
deploytools
# we'll force the dummy file in once; then other users don't have to worry
app/config.js