!!! 5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(rel='stylesheet', href='/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/dist/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href="/stylesheets/style.css")
		script(type='text/javascript', src='/dist/js/bootstrap.min.js')
		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/javascripts/index.js')

	body
		.container
			#title
				h1 Expert Extractor

			#search.jumbotron
				h1 Find and refine topic
				.lead type in your topic, and refine it further using tags
				.input-group.input-group-lg
					span.input-group-addon #
					input#topicfield.form-control(type="text", placeholder="Topic")
					span.input-group-btn
						button#searchbtn.btn.btn-large(type="button")
							span.glyphicon.glyphicon-search
							span search

			#topexpertlist
				h2 Top Experts (out of your league) for #currenttopic
				.lead click badges to see expertise ans links
				.row.container
					.col-md-4.first
						.profilepanel
							.panel.panel-primary
								.panel-heading
									h3.panel-title
										@kaosbeat  .
										.badge.text-right 42
								.panel-body.center
									img(src="images/Kasper.png")
									ul.list-group
										li.list-group-item hacking
										li.list-group-item beer
										li.list-group-item media
								.panel-footer
									button.btn.btn-success include
									button.btn.btn-danger exclude
									button.btn(onclick="moreinfo('first')") more info
					.profilepanel.col-md-4.second
						.panel.panel-primary
							.panel-heading
								h3.panel-title
									@DecrockSam  .
									.badge.text-right 42
							.panel-body.center
								img(src="images/Sam.png")
								ul.list-group
									li.list-group-item hacking
									li.list-group-item beer
									li.list-group-item media
							.panel-footer
								button.btn.btn-success include
								button.btn.btn-danger exclude
								button.btn(onclick="moreinfo('second')") more info
					.profilepanel.col-md-4.third
						.panel.panel-primary
							.panel-heading
								h3.panel-title
									@m4ttzndrtwitt3r  .
									.badge.text-right 42
							.panel-body.center
								img(src="images/Matthias.png")
								ul.list-group
									li.list-group-item hacking
									li.list-group-item beer
									li.list-group-item media
							.panel-footer
								button.btn.btn-success include
								button.btn.btn-danger exclude
								button.btn(onclick="moreinfo('third')") more info


			#moreinfo.col-md-8
				.panel.panel-primary
					.row
					.panel-heading
						h3 more info
					.panel-body
					.panel-footer

