!!! 5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title

		link(rel='stylesheet', href="/stylesheets/style.css")
		link(rel='stylesheet', href='/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/dist/css/bootstrap-theme.min.css')
		script(type='text/javascript', src='/dist/js/bootstrap.min.js')
		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/javascripts/index.js')

	body
		.container
			#title
				h1 Expert Extractor
			#identify
				.input-group.input-group-lg
					span.input-group-addon @
					input.form-control(type="text", placeholder="twitterhandle")
					span.input-group-btn
						button.btn.btn-large(type="button")
							span GO!

			#search
				.input-group.input-group-lg
					span.input-group-addon #
					input.form-control(type="text", placeholder="Topic")
					span.input-group-btn
						button.btn.btn-large(type="button")
							span.glyphicon.glyphicon-search
							span search