!!! 5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title

		link(rel='stylesheet', href='/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/dist/css/bootstrap-theme.min.css')
		script(type='text/javascript', src='/dist/js/bootstrap.min.js')
		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')


	body
		.container
			a(href="/auth/twitter", style="margin-top: 20px").btn.btn-primary Login with Twitter